html {
  position: relative;
  min-height: 100%;
}

body {
    padding-top: 65px;
    padding-bottom: 160px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #1a1a1a;
}

.above-footer {
  position: absolute;
  bottom: 55px;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

select option {
    margin:2px;
    background: #1a1a1a;
    color:#57ff57;
}
select {
    background: #1a1a1a;
}


input#SearchString {
    background-color: #000;
}

.progress{
    background-color: #000;
}

body.rarebg {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
    transition: background 2.00s ease-in-out;
}

.semi-transparent{
    background-color: rgba(26, 26, 26, 0.5);
}

.transparent{
    background-color: rgba(255,255,255,0);
    border-color: rgba(255,255,255,0);
}

.brand-image{
    width:auto;
    height:35px;
}

.station-name{
    color: ivory;
}

.panel-info > .panel-heading {
    color: #eacf4c;
    background-color: rgba(51, 51, 51, 0.33);
    border-color: #212121;
}